* {
    box-sizing: border-box;
  }
  body {
    font-size: 14px;
  }
  .v119_244 {
    width: 100%;
    height: 1080px;
    background: rgba(255,255,255,1);
    margin: 10px;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v119_245 {
    width: 100%;
    height: 100%;
    background: rgba(17,20,26,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border: 1px solid rgba(0,0,0,1);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  .v120_369 {
    width: 415px;
    height: 612px;
    background: url("../images/v120_369.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 389px;
    left: 98px;
    overflow: hidden;
  }
  .v120_370 {
    width: 415px;
    height: 612px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
  }
  .v120_376 {
    width: 345px;
    height: 186px;
    background: rgba(217,217,217,1);
    opacity: 1;
    position: absolute;
    top: 28px;
    left: 35px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: hidden;
  }
  .v120_375 {
    width: 345px;
    height: 549px;
    background: rgba(0,0,0,1);
    opacity: 1;
    position: absolute;
    top: 31px;
    left: 35px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: hidden;
  }
  .v120_377 {
    width: 345px;
    height: 186px;
    background: url("img/b1.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 28px;
    left: 35px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: hidden;
  }
  .v120_379 {
    width: 345px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 250px;
    left: 35px;
    font-family: Modern Antiqua;
    font-weight: Regular;
    font-size: 28px;
    opacity: 1;
    text-align: center;
  }
  .v120_380 {
    width: 415px;
    height: 612px;
    background: url("../images/v120_380.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 389px;
    left: 752px;
    overflow: hidden;
  }
  .v120_381 {
    width: 415px;
    height: 612px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
  }
  .v120_382 {
    width: 345px;
    height: 186px;
    background: rgba(217,217,217,1);
    opacity: 1;
    position: absolute;
    top: 28px;
    left: 35px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: hidden;
  }
  .v120_383 {
    width: 345px;
    height: 549px;
    background: rgba(0,0,0,1);
    opacity: 1;
    position: absolute;
    top: 31px;
    left: 35px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: hidden;
  }
  .v120_385 {
    width: 345px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 250px;
    left: 35px;
    font-family: Modern Antiqua;
    font-weight: Regular;
    font-size: 28px;
    opacity: 1;
    text-align: center;
  }
  .v120_392 {
    width: 345px;
    height: 186px;
    background: url("img/b2.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 28px;
    left: 35px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: hidden;
  }
  .v120_386 {
    width: 415px;
    height: 612px;
    background: url("../images/v120_386.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 389px;
    left: 1406px;
    overflow: hidden;
  }
  .v120_387 {
    width: 415px;
    height: 612px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
  }
  .v120_388 {
    width: 345px;
    height: 186px;
    background: rgba(217,217,217,1);
    opacity: 1;
    position: absolute;
    top: 28px;
    left: 35px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: hidden;
  }
  .v120_389 {
    width: 345px;
    height: 549px;
    background: rgba(0,0,0,1);
    opacity: 1;
    position: absolute;
    top: 31px;
    left: 35px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: hidden;
  }
  .v120_391 {
    width: 345px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 250px;
    left: 35px;
    font-family: Modern Antiqua;
    font-weight: Regular;
    font-size: 28px;
    opacity: 1;
    text-align: center;
}
  .v120_394 {
    width: 345px;
    height: 186px;
    background: url("img/b3.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 31px;
    left: 35px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: hidden;
  }
  .v120_401 {
    width: 415px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 277px;
    left: 98px;
    font-family: Inter;
    font-weight: Bold;
    font-size: 52px;
    opacity: 1;
    text-align: center;
  }
  .v120_403 {
    width: 415px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 277px;
    left: 752px;
    font-family: Inter;
    font-weight: Bold;
    font-size: 52px;
    opacity: 1;
    text-align: center;
  }
  .v120_404 {
    width: 415px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 277px;
    left: 1406px;
    font-family: Inter;
    font-weight: Bold;
    font-size: 52px;
    opacity: 1;
    text-align: center;
  }
