* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
input[type=password]::placeholder,input[type=password]{
  color: rgba(237, 237, 237, 1);
  font-weight:normal;
}
input.v511_108,input.v511_96,input.v511_112{
  background-color: rgba(26, 29, 50, 1);
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.015em;
  padding: 14px;
}
input:focus{
  outline:none;

}
input{
  border: none;
}
.v511_75 {
  width: 100%;
  height: 1080px;
  background: rgba(9,0,0,0.5099999904632568);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v511_76 {
  width: 827px;
  height: 653px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 213px;
  left: 546px;
  overflow: hidden;
}
.v511_77 {
  width: 827px;
  height: 653px;
  background: rgba(15,16,32,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: 2px 4px 24px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v511_92 {
  width: 21px;
  height: 21px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 420px;
  left: 1271px;
  border-radius: 50%;
}
.v511_93 {
  width: 21px;
  height: 21px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 554px;
  left: 1271px;
  border-radius: 50%;
}
.v511_94 {
  width: 21px;
  height: 21px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 675px;
  left: 1271px;
  border-radius: 50%;
}
.v511_95 {
  width: 596px;
  height: 75px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 375px;
  left: 662px;
  overflow: hidden;
}
.v511_96 {
  width: 596px;
  height: 52px;
  background: rgba(26,29,50,1);
  opacity: 1;
  position: absolute;
  top: 23px;
  left: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v511_97 {
  width: 151px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Montserrat;
  font-weight: SemiBold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v511_107 {
  width: 597px;
  height: 75px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 509px;
  left: 662px;
  overflow: hidden;
}
.v511_108 {
  width: 596px;
  height: 52px;
  background: rgba(26,29,50,1);
  opacity: 1;
  position: absolute;
  top: 23px;
  left: 1px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v511_109 {
  width: 152px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Montserrat;
  font-weight: SemiBold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v511_111 {
  width: 596px;
  height: 75px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 630px;
  left: 662px;
  overflow: hidden;
}
.v511_112 {
  width: 596px;
  height: 52px;
  background: rgba(26,29,50,1);
  opacity: 1;
  position: absolute;
  top: 23px;
  left: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v511_113 {
  width: 216px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Montserrat;
  font-weight: SemiBold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v511_114 {
  width: 218px;
  color: rgba(236,236,236,1);
  position: absolute;
  top: 37px;
  left: 20px;
  font-family: Montserrat;
  font-weight: SemiBold Italic;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v511_118 {
  width: 223px;
  height: 61px;
  background: rgba(241,200,74,1);
  opacity: 1;
  position: absolute;
  top: 763px;
  left: 849px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v402_320 {
  width: 104px;
  color: rgba(13,14,23,1);
  position: absolute;
  top: 779px;
  left: 908px;
  font-family: Montserrat;
  font-weight: Bold Italic;
  font-size: 24px;
  text-align: center;
}
.v511_119 {
  width: 497px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 273px;
  left: 727px;
  font-family: Montserrat;
  font-weight: Bold;
  font-size: 50px;
  opacity: 1;
  text-align: left;
}
