* {
    margin: 0;
    padding: 0;
}
html{
    overflow-y: scroll;
}


body {
    font-family: 'Titillium Web', sans-serif;
    font-weight:700;
    display:flex;
    flex-direction:column;
    overflow: hidden visible;
    background-color: #191A24;
    font-family: "Mona Sans";
}
    
    

.middle{
    background-color: #191A24;
    z-index:1;
    display:flex;
    flex-direction: column;
    margin-top:10%;
    padding: 3%;
    width:94%;
    max-width:1820px;
    color:#000000;
    font-size:100px;
    text-align:center;
}

.middle span{
    background-color:#38B6FF;
    color:#FFFFFF;
}


.middletitle{
    margin-right: 3%;
    
}
.corpmiddle img{
    margin-top:40px;
    float:left;
    width:800px;
    height:auto;
    border-radius:20px;
    margin-right:20px;
}

.corpmiddletext{
    margin-top:5%;
    font-size:40px;
    font-weight:400;
    align-items: center;
    border-top: solid 5px #38B6FF;
    border-bottom: solid 5px #38B6FF;
    margin-left:2%;
    margin-right:2%;
}
.corpmiddle{
    display:flex;
    flex-direction: row;

}

.corpmiddledeux{
    margin-top:3%;
}

.corpmiddledeux h1{
    font-size:60px;
    color:#38B6FF;
    text-align:left;
    padding-left:7%;
    margin-bottom:1%;
}

.corpmiddledeux h2{
    font-size:30px;
    text-align: left;
    font-weight:400;
    padding-left:7%;
    padding-right:7%;

}

.corpmiddletrois{
    background-color:#38B6FF;
    color:#FFFFFF;
    display:flex;
    flex-direction: column;
    margin-left:-4%;
    margin-right:-4%;
    margin-top:1%;
    padding-top:1%;
    padding-bottom:1%;
}

.stepone, .steptwo, .stepthree, .stepfour{
    display:flex;
    flex-direction: row;
    background-color:#38B6FF;
    color:#FFFFFF;
    padding: 10px 7% 10px 7%;
    height:5%;
    align-items: center;
}

.steponenumber, .steptwonumber, .stepthreenumber, .stepfournumber{
    font-size:70px;
    margin-right:3%;
}

.steponetext, .steptwotext, .stepthreetext, .stepfourtext{
    font-size:30px;
    text-align:left;
    font-weight:400;
}


.corpmiddlequatre{
    margin-top:4%;
    letter-spacing:3px;
    display: flex;
    flex-direction:column;
    color: #FFFFFF;
}

.corpmiddlequatretitle span{
        
        background: linear-gradient(266.59deg, #FF51B9 1.52%, #FFA800 99.13%);
}

.corpmiddlequatrecorp{
    display:flex;
    flex-direction: column;
    color:#000000;
    width:95%;
    margin-top: 3%;
    margin-left:2%;
}

.corpmiddlequatrecorp img{
    width:50px;
    height: auto;
    float:left;
    margin-right:1%;
}

.corpmiddlequatrecorpun, .corpmiddlequatrecorpdeux, .corpmiddlequatrecorptrois, .corpmiddlequatrecorpquatre{
    width:94%;
    height:50px;
    color:#000000;
    margin-top:2%;
    margin-left:2%;
    margin-bottom:0%;
    display:flex;
    flex-direction: row;
}

.gauche{
    width:40%;
    font-size:30px;
    text-align: left;
    color:#FFFFFF;
}

.gauche h1{
    
    font-size:40px;
    letter-spacing: normal;
    font-weight: bold;
    margin-left:10%;
}
a{
    color:#FFFFFF;
}
.droite{
    width:40%;
    padding-left:12%;
    font-size:30px;
    text-align: left;
    color:#FFFFFF;
}

.droite h1{
    
    font-size:40px;
    letter-spacing: normal;
    font-weight: bold;
    margin-left:14%;
    
}


.middledeux{
    background-color:#191A24;
    color:#000000;
    font-family: 'Titillium Web', sans-serif;
    width:94%;
    max-width:1820px;
    z-index:1;
    margin-top:0px;
    padding: 3%;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.info_mail{
    margin-left:-20%;
}

.info_mail input[type="text"],
.info_mail input[type="email"],
.info_mail textarea {
    outline: solid 1px black;
    border-radius:20px;
    padding: 12px;
    font-size: 15px;
    color: #555;
    letter-spacing: 1px;
    width: 200%;
    height:50px;
    margin-bottom:1%;
    border: none;
    background: #fff;
    box-sizing: border-box;
    font-family: 'Titillium Web', sans-serif;
}

.info_mail textarea{
    height:100px;
}

.form-group {
    margin-bottom: 1rem;
}

.info_mail button {
    padding: 12px;
    font-size: 16px;
    width: 100%;
    text-transform: uppercase;
    background-color:#F1C84A;
    border-radius:50px;
    border:4px solid white;
    transition: all 0.2s ease-in-out;
    font-family: 'Titillium Web', sans-serif;
    font-weight:700;
}

.info_mail button:hover {
    padding: 12px;
    font-size: 16px;
    color: #38B6FF;
    background: white;
    width: 100%;
    text-transform: uppercase;
    background-color:#FFFFFF;
    border:4px solid #38B6FF;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.gauche a{
    text-decoration: none;
    color:#FFFFFF;

}

.gauche a:hover{
    text-decoration: underline;
    color:#38B6FF;

}





@media screen and (max-width: 1300px){
    .footer, .middle, .middledeux, .bottom{
        padding-left:5%;
        padding-right:5%;
    }
}

@media screen and (max-width: 800px){

}

@media screen and (max-width: 1515px){
    .corpmiddle img{
        display:none;
    }
    .corpmiddlequatrecorpun{
        padding-bottom:4%;
    }
}