.service .v483_107 {
  width: 100%;
  height: 1365px;
  background: rgb(255, 255, 255);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.service .v483_108 {
  width: 100%;
  height: 1375px;
  opacity: 1;
  position: absolute;
  left: 0px;
  overflow: hidden;
}
.service .v483_109 {
  width: 100%;
  height: 100%;
  background: rgb(13, 14, 23);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.service .v483_114 {
  width: 65px;
  height: 65px;
  opacity: 1;
  position: absolute;
  top: 55px;
  left: 1766px;
  overflow: hidden;
}
.service .v483_129 {
  width: 662px;
  color: rgb(255, 235, 57);
  position: absolute;
  top: 442px;
  left: 106px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 80px;
  opacity: 1;
  text-align: left;
}
.service .v494_127 {
  width: 662px;
  color: rgb(255, 255, 255);
  position: absolute;
  top: 639px;
  left: 106px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 50px;
  opacity: 1;
  text-align: left;
}
.service .v494_126 {
  width: 310px;
  height: 378px;
  position: absolute;
  top: 265px;
  left: 894px;
  overflow: hidden;
}
.service .v483_125 {
  width: 310px;
  height: 378px;
  background: rgb(241, 200, 74);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.service .v483_262 {
  width: 143px;
  height: 46px;
  background: rgb(199, 51, 107);
  opacity: 1;
  position: absolute;
  top: 290px;
  left: 83px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  text-decoration: none;
}
.service .vbutton {
  color: rgb(255, 255, 255);
  position: absolute;
  font-family: "Mona Sans";
  font-weight: Bold;
  font-size: 20px;
  padding: 10px;
  margin-left: 30px;
}
.service .v494_103 {
  width: 263px;
  color: rgb(13, 14, 23);
  position: absolute;
  top: 183px;
  left: 23px;
  font-family: "Mona Sans";
  font-weight: Bold;
  font-size: 30px;
  opacity: 1;
  text-align: center;
}
.service .v494_117 {
  width: 120px;
  position: absolute;
  opacity: 1;
  top: 46px;
  left: 97px;
}
.service .v492_803 {
  width: 310px;
  height: 378px;
  opacity: 1;
  position: absolute;
  top: 837px;
  left: 1364px;
}
.service .v492_804 {
  width: 310px;
  height: 378px;
  background: rgb(241, 200, 74);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.service .v492_806 {
  width: 76px;
  color: rgb(255, 255, 255);
  position: absolute;
  top: 301px;
  left: 117px;
  font-family: "Mona Sans";
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.service .v492_807 {
  width: 263px;
  color: rgb(13, 14, 23);
  position: absolute;
  top: 183px;
  left: 23px;
  font-family: "Mona Sans";
  font-weight: Bold;
  font-size: 30px;
  opacity: 1;
  text-align: center;
}
.service .v492_797 {
  width: 310px;
  height: 378px;
  position: absolute;
  top: 837px;
  left: 895px;
  overflow: hidden;
}
.service .v492_798 {
  width: 310px;
  height: 378px;
  background: rgb(241, 200, 74);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.service .v492_801 {
  width: 263px;
  color: rgb(13, 14, 23);
  position: absolute;
  top: 183px;
  left: 23px;
  font-family: "Mona Sans";
  font-weight: Bold;
  font-size: 30px;
  opacity: 1;
  text-align: center;
}
.service .v492_791 {
  width: 310px;
  height: 378px;
  position: absolute;
  top: 259px;
  left: 1364px;
  overflow: hidden;
}
.service .v492_792 {
  width: 310px;
  height: 378px;
  background: rgb(241, 200, 74);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.service .v492_795 {
  width: 263px;
  color: rgb(13, 14, 23);
  position: absolute;
  top: 183px;
  left: 23px;
  font-family: "Mona Sans";
  font-weight: Bold;
  font-size: 30px;
  opacity: 1;
  text-align: center;
}

/*# sourceMappingURL=service.css.map */
