.v483_107 {
  width: 100%;
  height: 1365px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v483_108 {
  width: 100%;
  height: 1375px;
  opacity: 1;
  position: absolute;
  left: 0px;
  overflow: hidden;
}
.v483_109 {
  width: 100%;
  height: 100%;
  background: rgba(13, 14, 23, 1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v483_114 {
  width: 65px;
  height: 65px;
  opacity: 1;
  position: absolute;
  top: 55px;
  left: 1766px;
  overflow: hidden;
}

.v483_129 {
  width: 662px;
  color: rgba(255, 235, 57, 1);
  position: absolute;
  top: 442px;
  left: 106px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 80px;
  opacity: 1;
  text-align: left;
}
.v494_127 {
  width: 662px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 639px;
  left: 106px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 50px;
  opacity: 1;
  text-align: left;
}

.v494_126 {
  width: 310px;
  height: 378px;
  position: absolute;
  top: 265px;
  left: 894px;
  overflow: hidden;
}
.v483_125 {
  width: 310px;
  height: 378px;
  background: rgba(241, 200, 74, 1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v483_262 {
  width: 143px;
  height: 46px;
  background: rgba(199, 51, 107, 1);
  opacity: 1;
  position: absolute;
  top: 290px;
  left: 83px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  text-decoration: none;
}
.vbutton {
  color: rgba(255, 255, 255, 1);
  position: absolute;
  font-family: "Mona Sans";
  font-weight: Bold;
  font-size: 20px;
  padding: 10px;
  margin-left: 30px;
}
.v494_103 {
  width: 263px;
  color: rgba(13, 14, 23, 1);
  position: absolute;
  top: 183px;
  left: 23px;
  font-family: "Mona Sans";
  font-weight: Bold;
  font-size: 30px;
  opacity: 1;
  text-align: center;
}
.v494_117 {
  width: 120px;
  position: absolute;
  opacity: 1;
  top: 46px;
  left: 97px;
}
.v492_803 {
  width: 310px;
  height: 378px;
  opacity: 1;
  position: absolute;
  top: 837px;
  left: 1364px;
}
.v492_804 {
  width: 310px;
  height: 378px;
  background: rgba(241, 200, 74, 1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v492_806 {
  width: 76px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 301px;
  left: 117px;
  font-family: "Mona Sans";
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v492_807 {
  width: 263px;
  color: rgba(13, 14, 23, 1);
  position: absolute;
  top: 183px;
  left: 23px;
  font-family: "Mona Sans";
  font-weight: Bold;
  font-size: 30px;
  opacity: 1;
  text-align: center;
}
.v492_797 {
  width: 310px;
  height: 378px;
  position: absolute;
  top: 837px;
  left: 895px;
  overflow: hidden;
}
.v492_798 {
  width: 310px;
  height: 378px;
  background: rgba(241, 200, 74, 1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v492_801 {
  width: 263px;
  color: rgba(13, 14, 23, 1);
  position: absolute;
  top: 183px;
  left: 23px;
  font-family: "Mona Sans";
  font-weight: Bold;
  font-size: 30px;
  opacity: 1;
  text-align: center;
}
.v492_791 {
  width: 310px;
  height: 378px;
  position: absolute;
  top: 259px;
  left: 1364px;
  overflow: hidden;
}
.v492_792 {
  width: 310px;
  height: 378px;
  background: rgba(241, 200, 74, 1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v492_795 {
  width: 263px;
  color: rgba(13, 14, 23, 1);
  position: absolute;
  top: 183px;
  left: 23px;
  font-family: "Mona Sans";
  font-weight: Bold;
  font-size: 30px;
  opacity: 1;
  text-align: center;
}
