.background {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: -1;
  svg {
    position: absolute;
    z-index: -3;
  }
  .path svg {
    margin-top: 500px;
  }
  .path-circle svg {
    z-index: -1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 500px;
  }
  .psm-bg {
    position: absolute;
    z-index: -1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 700px;
    font-weight: bold;
    color: transparent;
    -webkit-text-stroke-color: #fff;
    -webkit-text-stroke-width: 2px;
    opacity: 0.3;
  }
  .overlay-blur {
    position: fixed;
    width: 1920px;
    height: 1365px;
    left: calc(50% - 1920px / 2);
    top: calc(50% - 1365px / 2 - 0.17px);
    background: rgba(255, 255, 255, 0.42);
    backdrop-filter: blur(46.5px);
    z-index: -2;
  }
}
