//Header Component in User Main Interface
.header-user-main-page {
  display: flex;
  flex-direction: row;
  width: 80%;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  position: absolute;
  top: 0;
  height: 10vh;
  align-self: center;
  .center-block {
    width: 5%;
  }
  .search {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    position: relative;
    input {
      width: 100%;
      border-radius: 2rem;
      padding: 10px 20px;
      border: none;
      text-align: center;
      font-family: "Montserrat", sans-serif;
      font-weight: 600;
      font-size: 1em;
    }
    input:focus {
      outline: none;
    }
    button {
      padding: 5px;
      margin: 0;
      position: absolute;
      right: 20px;
      color: #585858;
      border: none;
      display: flex;
      align-items: center;
      justify-content: center;
      background: none;
      cursor: pointer;
    }
  }
  .dropdown {
    max-width: 10%;
    padding: 20px 10px;
    border-radius: 0.5rem;
    background-color: transparent;
    border: 2px solid #c5340f;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    height: 30%;
    padding: 5px 20px;
    font-size: 1rem;
    transition: 0.5s ease;
    color: #c5340f;
    ion-icon {
      margin-right: 20px;
    }
    span {
      font-weight: 600;
    }
    ul {
      display: none;
      width: 300%;
      transition: 0.5s ease;
    }
    &:hover {
      cursor: pointer;
      color: #fff;
      background-color: #e76f51;
      transition: 0.5s ease;
      border: #e76f51;
    }
    &:hover ul {
      transition: 0.5s ease;
      display: flex;
      position: absolute;
      top: 100%;
      left: 0;
      list-style: none;
      padding-inline: 0;
      cursor: auto;
      flex-direction: row;
      flex-wrap: wrap;
      li {
        padding: 10px 0px;
        margin-top: 30px;
        background-color: #ffffffe8;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        cursor: pointer;
        font-weight: 600;
        border: #000 2px solid;
        width: 30%;
        margin-right: 20px;
        &:hover {
          box-shadow: rgb(0 0 0 / 31%) 4px 5px 6px;
        }
        a {
          text-decoration: none;
          color: black;
        }
      }
    }
  }
  .user {
    width: 3%;
    position: relative;
    img {
      width: 100%;
    }
    ul {
      display: none;
      position: absolute;
    }
    &:hover ul {
      display: flex;
      position: absolute;
      top: 100%;
      left: -50%;
      transform: translateX(-50%);
      list-style: none;
      cursor: auto;
      flex-direction: column;
      width: 600%;
      align-items: flex-end;
      li {
        padding: 10px 25px;
        margin-top: 30px;
        background-color: #ffffffe8;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        cursor: pointer;
        font-weight: 600;
        width: fit-content;
        transition: 0.1s ease-in-out;
        border: #000 2px solid;
        &:hover {
          box-shadow: rgb(0 0 0 / 31%) 4px 5px 6px;
        }
        a {
          text-decoration: none;
          color: black;
          display: flex;
          align-items: center;
          ion-icon {
            margin-right: 10px;
          }
        }
      }
    }
  }
}

//Header Component in Visitor Main Interface
.header-visitor-main-page {
  @extend .header-user-main-page;
  .sign-in {
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    button {
      width: 100%;
      background-color: #e76f51;
      color: white;
      border: none;
      border-radius: 0.5em;
      padding: 15px 20px;
      font-size: 1rem;
      font-family: "Montserrat", sans-serif;
      cursor: pointer;
    }
  }
}

//Header Component in User Common Interface
.header-user-common-page {
  @extend .header-user-main-page;
  background-color: #fff;
  width: 100%;
  justify-content: space-around;
  box-shadow: rgba(0, 0, 0, 0.178) 4px 3px 10px;
  .page-title {
    font-size: 1.5rem;
    font-weight: 600;
    color: #c5340f;
  }
}

//Header Component in Visitor Common Interface
