.search-result {
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  flex-wrap: wrap;
  .card-result {
    width: 25%;
    background-color: #fff;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px 10px;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    &-img {
      width: 30%;
      border: 2px solid #e76f51;
      border-radius: 5px;
      img {
        width: 100%;
      }
    }
    &-text {
      display: flex;
      align-items: left;
      justify-content: space-between;
      flex-direction: column;
      text-align: left;
      h2 {
        font-family: "Montserrat";
        font-style: italic;
        font-weight: 700;
        font-size: 20px;
      }
      span {
        font-family: "Montserrat";
        font-style: italic;
        font-weight: 500;
        font-size: 13px;
      }
      h2,
      span,
      .categorie-tag {
        margin-bottom: 10px;
      }
      .categorie-tag {
        width: fit-content;
        background-color: #264653;
        padding: 5px 10px;
        text-align: center;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        border-radius: 2rem;
        span {
          font-size: 11px;
          color: #fff;
          margin-bottom: unset;
        }
      }
      button {
        width: 80%;
        padding: 10px 0;
        border: none;
        background-color: #e76f51;
        border-radius: 5px;
        color: #fff;
        font-family: "Montserrat", sans-serif;
        cursor: pointer;
      }
    }
  }
}
