.actualite-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    transition: ease-in-out 0.3s;
    &:hover {
      transform: translateY(-50%) scale(1.1);
      transition: ease-in-out 0.2s;
    }
    &.left {
      left: 0;
    }
    &.right {
      right: 0;
    }
    ion-icon {
      color: #ffffff;
      font-size: 50px;
    }
  }
  &-title {
    margin: 9rem 0 2rem 0;
    font-family: "Montserrat";
    font-weight: 800;
    font-size: 60px;
    line-height: 78px;
    /* identical to box height */

    text-align: center;
    color: #ffffff;
  }
  #news-container {
    .page {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      width: 80%;
      flex-wrap: wrap;
      margin: 0 auto;
    }
    .article {
      width: 20%;
      background-color: #1c1d26;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-direction: column;
      padding: 1.5rem;
      margin: 1rem;
      border-radius: 20px;
      transition: ease-in-out 0.3s;
      &:hover {
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.356);
        transition: ease-in-out 0.2s;
      }
      & > * {
        margin-bottom: 1rem;
      }
      .article-inf {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        span {
          color: #a4a4a4;
          font-size: 0.9rem;
          font-weight: 400;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 1;
          overflow: hidden;
        }
      }
      h2 {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;

        color: #ffffff;
        a {
          text-decoration: none;
          color: #ffffff;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
          overflow: hidden;
        }
      }
      .article-img {
        position: relative;
        width: 100%;
        padding-bottom: 100%;
        img {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          border-radius: 10px;
        }
      }
      p {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 18px;

        color: #ffffff;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 4;
        overflow: hidden;
      }
      .lire-plus {
        a {
          text-decoration: none;
          color: #ffffff;
          @include button;
          font-size: 0.8rem;
          padding: 0.5rem 1rem;
        }
        margin: 0 auto;
        margin-top: 1rem;
      }
    }
  }
}
