.collaboration {
  .v119_244 {
    width: 100%;
    height: 1164px;
    background: rgba(255, 255, 255, 1);
    margin: 10px;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: hidden;
  }
  .v119_245 {
    width: 100%;
    height: 100%;
    background: rgba(17, 20, 26, 1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border: 1px solid rgba(0, 0, 0, 1);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  .v122_3 {
    width: 297px;
    height: 172px;
    background: url("../images/v122_3.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 363px;
    left: 891px;
    overflow: hidden;
  }
  .v122_4 {
    width: 294px;
    height: 172px;
    background: rgba(255, 255, 255, 1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
  }
  .v123_46 {
    width: 294px;
    height: 172px;
    background: url("../../img/b11.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 2px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
  }
  .v122_5 {
    width: 297px;
    height: 172px;
    background: url("../images/v122_5.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 363px;
    left: 1464px;
    overflow: hidden;
  }
  .v122_6 {
    width: 297px;
    height: 172px;
    background: rgba(255, 255, 255, 1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
  }
  .v122_7 {
    width: 297px;
    height: 172px;
    background: url("../images/v122_7.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 651px;
    left: 324px;
    overflow: hidden;
  }
  .v122_8 {
    width: 297px;
    height: 172px;
    background: rgba(255, 255, 255, 1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
  }
  .v120_392 {
    width: 297px;
    height: 172px;
    background: url("../../img/b2.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
  }
  .v122_9 {
    width: 297px;
    height: 172px;
    background: url("../images/v122_9.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 651px;
    left: 894px;
    overflow: hidden;
  }
  .v122_10 {
    width: 297px;
    height: 172px;
    background: rgba(255, 255, 255, 1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
  }
  .v122_11 {
    width: 297px;
    height: 172px;
    background: url("../images/v122_11.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 954px;
    left: 1464px;
    overflow: hidden;
  }
  .v122_12 {
    width: 297px;
    height: 172px;
    background: rgba(255, 255, 255, 1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
  }
  .v122_13 {
    width: 297px;
    height: 172px;
    background: url("../images/v122_13.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 954px;
    left: 894px;
    overflow: hidden;
  }
  .v122_14 {
    width: 297px;
    height: 172px;
    background: rgba(255, 255, 255, 1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
  }
  .v122_15 {
    width: 297px;
    height: 172px;
    background: url("../images/v122_15.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 954px;
    left: 324px;
    overflow: hidden;
  }
  .v122_16 {
    width: 297px;
    height: 172px;
    background: rgba(255, 255, 255, 1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
  }
  .v122_17 {
    width: 297px;
    height: 172px;
    background: url("../images/v122_17.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 651px;
    left: 1464px;
    overflow: hidden;
  }
  .v122_18 {
    width: 297px;
    height: 172px;
    background: rgba(255, 255, 255, 1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
  }
  .v120_386 {
    width: 297px;
    height: 172px;
    background: url("../images/v120_386.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 363px;
    left: 324px;
    overflow: hidden;
  }
  .v120_387 {
    width: 297px;
    height: 172px;
    background: rgba(255, 255, 255, 1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
  }
  .v120_377 {
    width: 297px;
    height: 172px;
    background: url("../../img/b1.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
  }
  .v120_403 {
    width: 415px;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 542px;
    left: 0px;
    font-family: Inter;
    font-weight: Bold;
    font-size: 52px;
    opacity: 1;
    text-align: center;
  }
  .v120_401 {
    width: 415px;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 255px;
    left: 0px;
    font-family: Inter;
    font-weight: Bold;
    font-size: 52px;
    opacity: 1;
    text-align: center;
  }
  .v120_404 {
    width: 415px;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 838px;
    left: 39px;
    font-family: Inter;
    font-weight: Bold;
    font-size: 52px;
    opacity: 1;
    text-align: center;
  }
  .v122_19 {
    width: 542px;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 104px;
    left: 723px;
    font-family: Inter;
    font-weight: Bold;
    font-size: 56px;
    opacity: 1;
    text-align: center;
  }
  .v123_47 {
    width: 297px;
    height: 172px;
    background: url("../../img/b12.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 363px;
    left: 1464px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
  }
  .v123_48 {
    width: 297px;
    height: 172px;
    background: url("../../img/b21.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 651px;
    left: 894px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
  }
  .v123_49 {
    width: 297px;
    height: 172px;
    background: url("../../img/b22.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 651px;
    left: 1464px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
  }
  .v123_50 {
    width: 297px;
    height: 172px;
    background: url("../../img/b3.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 954px;
    left: 324px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
  }
  .v123_51 {
    width: 297px;
    height: 172px;
    background: url("../../img/b31.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 954px;
    left: 894px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
  }
  .v123_52 {
    width: 297px;
    height: 172px;
    background: url("../../img/b32.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 954px;
    left: 1464px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
  }
}
