.decouvrir {

  .frame-1 {
    align-items: flex-start;
    background-color: var(--white);
    border: 1px none;
    display: flex;
    height: 1080px;
    width: 1920px;
  }

  .hidden,
  .hidden * {
    pointer-events: none;
    visibility: hidden;
  }

  .bg {
    align-items: flex-start;
    background-color: var(--vulcan);
    display: flex;
    flex-direction: column;
    gap: 70px;
    min-height: 1080px;
    padding: 175px 124px;
    width: 1920px;
  }

  .group-container {
    align-items: flex-start;
    display: flex;
    gap: 160px;
    min-width: 1670px;
  }

  .group-112 {
    align-items: center;
    background-color: var(--shark);
    border-radius: 20px;
    box-shadow: 4px 4px 25px 2px #00000033;
    display: flex;
    flex-direction: column;
    min-height: 383px;
    width: 450px;
  }

  people-outline {
    height: 134px;
    margin-right: 0.03px;
    margin-top: 26px;
    width: 134px;
  }

  .frame-1 .overlap-group-3 {
    align-items: flex-start;
    border-radius: 20px;
    box-shadow: 4px 4px 25px 2px #00000033;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 22px 90px;
  }

  .overlap-group-2 {
    display: flex;
    border-radius: 0%;
  }

  .overlap-group1 {
    align-items: flex-end;
    background-color: var(--ronchi);
    border-radius: 20px;
    display: flex;
    height: 25px;
    justify-content: flex-end;
    /* min-width: 267px; */
    padding: 11px 8px;
    background: #F1C84A;
    margin-top: 20px;

  }

  .consulter-les-services {
    letter-spacing: 0;
    line-height: normal;
    text-align: center;
    width: 249px;
  }

  .services {
    align-self: center;
    letter-spacing: 0;
    line-height: normal;
    margin-right: 25px;
    min-height: 48px;
    min-width: 199px;
    text-align: center;
  }

  .frame-1 .rectangle-156-3 {
    background-color: var(--alto);
    height: 8px;
    width: 450px;
  }

  .overlap-group {
    height: 394px;
    position: relative;
    width: 450px;
    margin-right: -100px;
    margin-left: 100px;
  }

  .rectangle-156-1 {
    border-radius: 20px;
    left: 0;
    position: absolute;
    top: 0;
  }

  .overlap-group-1 {
    left: 0;
    position: absolute;
    top: 194px;
    margin-left: 80px;
  }

  sparkles-outline {
    height: 134px;
    left: 158px;
    position: absolute;
    top: 39px;
    width: 134px;
  }

  .frame-1 .rectangle {
    left: 0;
    position: absolute;
    top: 0;
    width: 450px;
  }

  .rectangle-83 {
    background-color: var(--shark);
    border-radius: 20px;
    box-shadow: 4px 4px 25px 2px #00000033;
    height: 383px;
  }

  .rectangle-156 {
    height: 8px;
  }

  calendar-outline {
    height: 126px;
    left: 146px;
    position: absolute;
    top: 47px;
    width: 134px;
  }

  .overlap-group4 {
    align-self: center;
    height: 162px;
    margin-right: 15px;
    position: relative;
    width: 525px;
  }

  .decouvrir {
    color:white;
    font-family: var(--font-family-inter);
    font-size: 60px;
    font-weight: 800;
    left: 0;
    letter-spacing: 0;
    line-height: 30px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 525px;
  }

  .rectangle-83-1 {
    background-color: var(--vulcan);
    border-radius: 20px;
    box-shadow: 4px 4px 25px 2px #00000033;
    height: 156px;
    left: 3px;
    position: absolute;
    top: 6px;
    width: 522px;
  }

  :root {
    --black: rgba(0, 0, 0, 1);
    --cinder: rgba(13, 14, 23, 1);
    --vulcan: rgba(17, 20, 26, 1);
    --shark: rgba(28, 33, 43, 1);
    --alto: rgba(217, 217, 217, 1);
    --ronchi: rgba(241, 200, 74, 1);
    --white: rgba(255, 255, 255, 1);
    --font-size-m: 18px;
    --font-size-1: 40px;
    --font-size-x1: 64px;
    --font-family-inter: "Mona-Sans";
  }

  .inter-bold-white-40px {
    color: var(--white);
    font-family: "Mona-Sans";
    font-size: 30px;
    font-weight: 700;
    font-style: normal;
    margin-top: 20px;
    margin-right: 10px;
  }

  .inter-bold-cinder-18px {
    color: var(--cinder);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-m);
    font-weight: 700;
    font-style: normal;
    margin-top: 5px;
  }

  ion-icon {
    font-size: 134px;
    background: linear-gradient(rgba(255, 80, 185, 1), rgba(255, 168, 0, 1));
    z-index: 999;
    position: absolute;
    left: 150px;
    top: 14%;
  }
}
