body {
  font-family: "Montserrat", sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  background-color: #f4a261;
}
//Background
@import "component/background";
header main footer {
  z-index: 1;
}

//Login yeti
@import "component/login";

//Header
@import "./component/header.scss";

//Main
main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  //Trending book section (main page)
  @import "./component/trending-book.scss";

  //Search book section (search page)
  @import "./component/search-book.scss";

  //Loan list book section (loan page)
  @import "./component/loan.scss";
}

//Footer

@import "component/footer.scss";
