@mixin button {
  background-color: #f1c84a;
  color: #11141a;
  padding: 10px 30px;
  border: none;
  cursor: pointer;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 1.2rem;
  box-shadow: 0px 2px 40px 6px rgba(220, 158, 0, 0.3);
  border-radius: 38px;
  &:hover {
    animation: bolder 0.8s ease-in-out infinite alternate;
  }
}
@mixin glass-card {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border: 2px solid rgba(255, 255, 255, 0.425);
}
