<!DOCTYPE html>
<html lang="fr">
    <head>
        <link href="./css/cata-main.css" rel="stylesheet" />
        <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
    </head>
    <body>
<div class="frame-1 screen">
    <div class="bg">
        <div class="overlap-group4">
            <div class="rectangle-83-1"></div>
            <h1 class="decouvrir"><br /><br />DECOUVRIR</h1>
        </div>
        <div class="group-container">
            <div class="overlap-group">
                <div class="rectangle-83 rectangle"></div>
                <div class="rectangle-156-1 rectangle-156-3"></div>
                <ion-icon name="calendar-outline"></ion-icon>
                <div class="overlap-group-1 overlap-group-3">
                    <div class="services inter-bold-white-40px">SERVICES</div>
                    <div class="overlap-group1">
                        <div class="consulter-les-services inter-bold-cinder-18px">CONSULTER LES SERVICES</div>
                    </div>
                </div>
            </div>
            <div class="overlap-group">
                <div class="rectangle-83 rectangle"></div>
                <div class="rectangle-156-1 rectangle-156-3"></div>
                <ion-icon name="sparkles-outline"></ion-icon>
                <div class="overlap-group-1 overlap-group-3">
                    <div class="services inter-bold-white-40px">L'ACTUALITE</div>
                    <div class="overlap-group1">
                        <div class="consulter-les-services inter-bold-cinder-18px">CONSULTER THE SERVICES</div>
                    </div>
                </div>
            </div>
            <div class="overlap-group">
                <div class="rectangle-83 rectangle"></div>
                <div class="rectangle-156-1 rectangle-156-3"></div>
                <ion-icon name="people-outline"></ion-icon>
                <div class="overlap-group-1 overlap-group-3">
                    <div class="services inter-bold-white-40px">COLLABORATION</div>
                    <div class="overlap-group1">
                        <div class="consulter-les-services inter-bold-cinder-18px">CONSULTER LES SERVICES</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>