<!DOCTYPE html>
<html lang="fr">

<head>
    <link href="test31.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Modern+Antiqua&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
</head>

<body>
    <div class="v119_244">
        <div class="v119_245"></div>
        <div class="v120_369">
            <div class="v120_370"></div>
            <div class="v120_376"></div>
            <div class="v120_375"></div>
            <div class="v120_377"></div><span class="v120_379">Vous souhaitez contacter une bibliotheque a Orsay, 91400,
                dans le departement du 91 pour une prise de RDV, un conseil ou pour vous rendre chez une bibliotheque
                ouvert aujourd'hui ?</span>
        </div>
        <div class="v120_380">
            <div class="v120_381"></div>
            <div class="v120_382"></div>
            <div class="v120_383"></div><span class="v120_385">La BnF a pour mission de collecter, cataloguer,
                conserver, enrichir et communiquer le patrimoine documentaire national</span>
            <div class="v120_392"></div>
        </div>
        <div class="v120_386">
            <div class="v120_387"></div>
            <div class="v120_388"></div>
            <div class="v120_389"></div><span class="v120_391">La Bibliotheque numerique internationale - Livres en
                ligne pour internautes en herbe</span>
            <div class="v120_394"></div>
        </div><span class="v120_401">regionale</span><span class="v120_403">nationale</span><span
            class="v120_404">internationale</span>
    </div>
</body>

</html>