<!DOCTYPE html>
<html lang="fr">

<head>
    <link href="test21.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet" />
</head>

<body>
    <div class="v107_75">
        <div class="v107_77"></div>
        <div class="v107_76">
            <div class="v107_123">
                <div class="v107_124"></div><span class="v107_125">L'ACTUALITE</span>
            </div>
            <div class="v109_133">
                <div class="v109_134"></div>
                <div class="v109_135"></div><span class="v109_137">
                    Parcourez une exposition de nouveaux livres</span>
                <div class="v109_138"></div><span class="v109_139"> entrer</span>
            </div>
            <div class="v111_200">
                <div class="v111_201"></div>
                <div class="v111_202"></div><span class="v111_203">
                    Parcourez une exposition de nouveaux livres</span>
                <div class="v111_204"></div><span class="v111_205"> entrer</span>
            </div>
            <div class="v111_230">
                <div class="v111_231"></div>
                <div class="v111_232"></div><span class="v111_233">
                    Parcourez une exposition de nouveaux livres</span>
                <div class="v111_234"></div><span class="v111_235"> entrer</span>
            </div>
            <div class="v111_224">
                <div class="v111_225"></div>
                <div class="v111_226"></div><span class="v111_227">dernieres informations sur les magazines</span>
                <div class="v111_228"></div><span class="v111_229"> entrer</span>
            </div>
            <div class="v111_218">
                <div class="v111_219"></div>
                <div class="v111_220"></div><span class="v111_221">dernieres informations sur les magazines</span>
                <div class="v111_222"></div><span class="v111_223"> entrer</span>
            </div>
            <div class="v111_236">
                <div class="v111_237"></div>
                <div class="v111_238"></div><span class="v111_239">dernieres informations sur les magazines</span>
                <div class="v111_240"></div><span class="v111_241"> entrer</span>
            </div><span class="v109_174">magazin</span><span class="v109_168">exposition</span>
        </div>
    </div>
</body>

</html>