<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet" />
    <link href="./css/changemdp.css" rel="stylesheet" />
    <title>changemdp</title>
</head>

<body>
    <div class="v511_75">
        <div class="v511_76">
            <div class="v511_77"></div>
        </div>
        <div class="v511_92"></div>
        <div class="v511_93"></div>
        <div class="v511_94"></div>
        <form class="v511_95">
            <input class="v511_96" type="password" placeholder="Ancien mot de passe">
            <label class="v511_97"> Old Password</label>
        </form>
        <form class="v511_107">
            <input class="v511_108" type="password" placeholder="Nouveau mot de passe">
            <span class="v511_109">New password</span>
        </form>
        <form class="v511_111">
            <input class="v511_112" type="password" placeholder="Confirmer mot de passe">
            <span class="v511_113">Confirm new password</span>
        </form>
        <div class="v511_118"></div>
        <span class="v402_320">Confirm</span>
        <span class="v511_119">Change Password</span>
        
    </div>
</body>

</html>