<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="./css/infos.css" />
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;700&display=swap");
    </style>
  </head>

  <body>
    <div class="middle" id="2">
      <div class="corpmiddlequatre">
        <div class="corpmiddlequatretitle">
          <span>NOUS CONTACTER</span>
        </div>
        <div class="corpmiddlequatrecorp">
          <div class="corpmiddlequatrecorpun">
            <div class="gauche"><h1>COORDONNÉES</h1></div>
            <div class="droite"><h1>HORAIRES D'OUVERTURE</h1></div>
          </div>
          <div class="corpmiddlequatrecorpdeux">
            <img src="../img/loca.png" alt="" />
            <div class="gauche">3 rue Joliot Curie 91190 Gif-sur-Yvette</div>
            <div class="droite">LUNDI, MARDI, JEUDI : 8H00 – 20H30</div>
          </div>
          <div class="corpmiddlequatrecorptrois">
            <img src="../img/Tel.png" alt="" />
            <div class="gauche">
              <a href="tel:0497732500">04 97 73 25 00</a>
            </div>
            <div class="droite">MERCREDI : 8H00 – 19H30</div>
          </div>
          <div class="corpmiddlequatrecorpquatre">
            <img src="../img/Message.png" alt="" />
            <div class="gauche">
              <a href="mailto:ACCUEIL@Mediatheque-Paris-Saclay.FR"
                >ACCUEIL@Mediatheque-Paris-Saclay.FR</a
              >
            </div>
            <div class="droite">VENDREDI : 8H00 – 19H45</div>
          </div>
        </div>
      </div>
    </div>

    <div class="middledeux">
      <div class="info_mail">
        <form action="#" method="post">
          <div class="form-group">
            <input
              type="text"
              name="Name"
              class="form-control"
              placeholder="Name"
              required=""
            />
          </div>
          <div class="form-group">
            <input
              type="email"
              name="Email"
              class="form-control"
              placeholder="Email"
              required=""
            />
          </div>
          <div class="form-group">
            <textarea
              name="Message"
              placeholder="Message......."
              required=""
            ></textarea>
          </div>
          <button type="button" class="btn">Candidater</button>
        </form>
      </div>
      <div class="map">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2626.3729368696204!2d2.329833716005461!3d48.8320247292849!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e671b9efc12f79%3A0x24719ea354d14bac!2s13%20Av.%20du%20G%C3%A9n%C3%A9ral%20Leclerc%2C%2075014%20Paris!5e0!3m2!1sfr!2sfr!4v1635933680242!5m2!1sfr!2sfr"
          width="600"
          height="450"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
        ></iframe>
      </div>
    </div>
  </body>
</html>
