<form class="profil">
    <div class="nom">
        <label>Nom</label>
        <input type="text" placeholder="Nom">
    </div>
    <div class="prenom">
        <label>Prenom</label>
        <input type="text" placeholder="Prenom">
    </div>
    <div class="email">
        <label>Email</label>
        <input type="text" placeholder="Email@***.com">
    </div>
    <div class="password">
        <label>Mot de passe</label>
        <input type="password" placeholder="Mot de passe">
    </div>
    <div class="tel">
        <label>Numéro Téléphone</label>
        <input type="text" placeholder="Numéro Téléphone">
    </div>
    <div class="rond1"></div>
    <div class="rond2"></div>
    <div class="rond3"></div>
    <div class="rond4"></div>
</form>
<div class="profil-options">
    <div class="fonction1">
        <ion-icon name="person-outline"></ion-icon>
        <label>Account detail</label>
    </div>
    <div class="fonction2">
        <ion-icon name="lock-closed-outline"></ion-icon>
        <label>Changer mot de passe</label>
    </div>
    <div class="fonction3">
        <ion-icon name="log-out-outline"></ion-icon>
        <label>Se déconnecter</label>
    </div>
</div>