<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet" />
    <link href="./css/profil.css" rel="stylesheet" />
    <title>profil</title>
</head>

<body>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <div class="v426_301">
        <div class="v426_302">
            <div class="v426_303"></div>
            <div class="v426_304">
                <div class="v426_305">
                    <a href="http://google.com" class="v426_306">
                        <ion-icon name="person-outline"></ion-icon>
                        <span class="v426_308">Account detail</span>
                    </a>
                    <a href="http://baidu.com" class="v426_309">
                        <ion-icon name="lock-closed-outline"></ion-icon>    
                        <span class="v426_311">Changer mot de passe</span>
                    </a>
                    <a href="http://apple.com"  class="v426_312">
                        <ion-icon name="log-out-outline"></ion-icon>
                        <span class="v426_316">Se déconnecter</span>
                    </a>
                </div>

            </div>
        </div>
        <div class="v426_317"></div>
        <div class="v426_318"></div>
        <div class="v426_319"></div>
        <div class="v426_320"></div>
        <form class="v426_321">
            <label class="v426_323">Email</label>
            <input class="v426_322" type="text" placeholder="email@domain.com">
        </form>
        <form class="v426_325">
            <label class="v426_327">Nom</label>
            <input class="v426_326" type="text" placeholder="Nom">
        </form>
        <form class="v426_329">
            <label class="v426_331">Prenom</label>
            <input class="v426_330" type="text" placeholder="Pernom">
        </form>
        <form class="v426_333">
            <label class="v426_335">Password</label>
            <input class="v426_334" type="password" placeholder="Mot de passe">
        </form>
        <form class="v426_337">
            <label class="v426_339">Numéro téléphone</label>
            <input class="v426_338" type="text" placeholder="Numéro Téléphone">
        </form>
    </div>
</body>

</html>